/* 초기화 */
html, body{
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.스크롤없앰{
    overflow: hidden;
}
.화면어둡게{
    filter:brightness(50%);
}

.화면가득{
    width: 100vw; 
    background-size: cover;
    z-index: 0;
}
p{
    position: absolute;
    padding: 3vw;
    z-index: 99;
    color: #fff;
    font-family: "Type1";
    font-weight: 100;
    font-size: 9.4vw;
    width: 94vw;
    line-height: 1;
    height: 18vw; 
    top: 12%;  
}
.p1 {
    text-align: left;
    
}
.p2 {
    padding-top: 15%;
    text-align: right;
    
}
.header {
    color: #fff;
    font-family: "Type2";
    padding: 2vw;
    font-size: 2vw;
    line-height: 1.2;

    position: fixed;
    width: 100vw;
    height: 5vw;
    
    top: 0;
    z-index: 999999;
}
.lowerText{
    top: 500%;
    padding-left: 2%;
    position: absolute;
}
