/* 초기화 */
html, body, ul, li, a{
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;

    list-style: none;
    text-decoration: none;
    color: #fff;
}
ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}
ul:first-child{
    white-space: nowrap;
}
li{
    color: #000;
}

.박스화{
    border: #000 solid 0.1vw;
}
.아래공간{
    margin-bottom: 1vw;
}
.박스여백{
    padding: 1vw;
}
.스크롤없앰{
    overflow: hidden;
}
.화면어둡게{
    filter:brightness(50%);
}

.화면가득{
    width: 100vw; 

    background-size: cover;

    z-index: 0;
}
.pTitle{
    position: absolute;

    width: 94vw;
    height: 18vw; 

    padding: 3vw;
    
    top: 14%;  

    font-family: "Type1";
    font-weight: 100;
    font-size: 9.4vw;
    
    line-height: 1;
    
    z-index: 99;
}
.p1 {
    text-align: left;
    
}
.p2 {
    padding-top: 15%;
    text-align: right;
    
}
.header {
    position: fixed;

    width: 100vw;
    height: 5vw;

    padding: 2vw;

    top: 0;
    align-items: center;

    font-family: "Type2";
    font-size: 2vw;
    
    z-index: 999999;
}
.logo{
    padding-left: 1.7%;
}
.smallText{
    position: absolute;

    width: 14vw;

    padding-right: 3.8%;
    top: 20%;
    right: 3.4%;

    font-size: 0.8vw;
    text-transform: uppercase;
}
.lowerText{
    position: absolute;

    padding-left: 3.8%;

    top: 86%;

    font-family: "Type3";
    font-size: 1.2vw;
}
.modal{
    display: none;
}
.header:hover .modal{
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;

   width: 1200px;
   height: 800px;
   padding: 40px;
    
   text-align: left;
   font-size: 0.8vw;
   font-family: "type3";
   color: #000;

   background-color: #f0f0f0;
   border-radius: 10px;
   box-shadow:  0 10px 10px 0 #000;

   transform: translateX(-50%) translateY(-5%);
}
